body {
    font-family: Arial, sans-serif;
    margin-left: 25%;
    
}


header nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(69, 128, 255);
    border-radius: 10%;

}


header nav a:hover {
    background-color: rgb(0, 0, 0);
}

.cv{
    padding: 10px;
}

.cv a {
    text-decoration: none;
    padding: 2px;
    color: white;
    background-color: rgb(255, 69, 69);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
   margin: 15px;

}

.cv a:hover {
    background-color: rgb(0, 0, 0);
}

.social-links{
    padding: 50px;
}

.social-links a:hover {
    background-color: rgb(0, 0, 0);
}

.social-links a {
    text-decoration: none;
    color: white;
    background-color: rgb(69, 128, 255);
    border-radius: 50px;
    cursor: pointer;
    padding: 20px;

}

h3 {
    color: rgb(69, 128, 255);
    
}

p{
    color: rgb(61, 61, 61);
 
}

img {
    width: 250px;
    border-radius: 20%;
   max-width: 250px;

}

footer {
    margin-top: 100px;
    text-align: center;
}

.container {
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 200px;
    width: 350px;
    text-align: center;
}
.content {
       margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    
    height: 200px;
    width: 350px;
    text-align: center;
    display: inline-block;
}

.section {
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 200px;
    width: 350px;
    text-align: center;
    display: inline-block;
}