{% extends 'index.html' %}

{% block content %}
<section>
    <div class="imgabout">
        <h2>About Me</h2>
        <img src="{{ url_for('static', filename='images/about.jpg') }}" alt="imgabout">
    </div>
    <div class="content">
        <div class="aboutext">
        <p>I am studying Python and have already developed small projects that allowed me to apply
            fundamental concepts of the language, such as data structures, automation, and programming logic. I am also
            deepening my knowledge in SQL, focusing on data manipulation and building efficient queries for analysis and
            organization of information. Additionally, I have completed web projects using HTML, CSS, JavaScript, and
            Python, integrating front-end and back-end in simple applications.</p>
        </div>
    </div>
</section>

<div class="container">
    <i class="fa fa-suitcase"></i>
    <h2>Experience</h2>
    <p>Sales manager <br>SNS solar energy <br>March/2025 - August/2025</p>
</div>
<div class="container">
    <i class="fas fa-school"></i>
    <h2>Education</h2>
    <p>Graduating in analysis and development of systems - <br> Uninassau <br> Shift: Night </p>
</div>


{% endblock %}