{% extends 'index.html' %}

{% block content %}
<img src="{{ url_for('static', filename='images/profile.png') }}" alt="">
<p>Hi, I'm </p>
<h2>Davi Artur</h2>
<h3>Developer</h3>
<div class="cv">
<a href="{{ url_for('static', filename='files/cv.pdf') }}" target="_blank">Download CV</a>
</div>
<div class="social-links">
<a href="https://www.linkedin.com/in/daviartur/" target="_blank"><i class="fab fa-linkedin"></i></a>
<a href="https://github.com/DaviArturss" target="_blank"><i class="fab fa-github"></i></a>
</div>

{% endblock %}